@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
    color: black;
    font-family: "Montserrat", sans-serif;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 59px;
    background-color: white;
    font-weight: 500;
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 24px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(169,53,214);
}
#home{
    display: flex;
    justify-content: space-around;
    background-image: url(images/bg.jpg);
    background-size: cover;
    height: 70vh;
}
#home > div{
    width: 40%;
}
.leftSection{
    position: relative;
    margin: 100px auto 30px;
    font-size: 3rem;
    
}
.white{
    color: white;
}
.purple{
    color:rgb(46, 137, 211) ;
}
#typed-output{
    min-height: 70px;
}
.leftSection .resume a{
    position: absolute;
    text-decoration: none;
    font-size: 28px;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}
.leftSection .fa-regular{
    font-size: 26px;
    transition: 0.3s ease-in-out;
}
.leftSection .resume a:hover{
    background-color: rgb(23, 129, 161);
}
.leftSection .resume a:hover .fa-regular{
   transform: scale(1.3);
   /* margin-top: 10px; */

}
.rightSection img{
    width: 68%;
    margin: 30px 30px 20px 60px;

}
#experience{
    max-width: 80vw;
    margin: 20px 80px;
    height: 70vh;
}
#experience .line, #projects  .line, #about .line{
    width: 9vw;
    height: 3px;
    border-radius: 8px;
    background-color: rgb(20, 187, 70);
    margin-top: 3px;
}
hr{
    border: 0;
    background: rgb(3, 110, 231);
    height: 2px;
    margin: 20px 40px
}
.text-gray{
    color: rgb(62, 62, 65);
    font-size: 12px;
    margin: 0;
}
h1{
    font-size: 1.9rem;
    margin: 0;
}
#experience .box{
    background: black;
    width: 80vw;
    height: 2px;
    margin: 60px 80px;
    display: flex;
}
.top-img{
    width: 23px;
    position: relative;
    top: -29px;
    left: -8px;
}
#experience .vertical{
    height: 93px;
    width: 1px;
    background: black; 
    margin: 0 100px;   
}
.vertical-title{
    width: 23px;
    position: relative;
    top: 65px;
    width: 150px;
    font-weight: 600;
}
.title-desc{
    width: 23px;
    position: relative;
    top: 65px;
    width: 150px;
    color: rgb(66, 66, 77);
    font-size: 12px;
    /* text-align: justify; */
    font-weight: 500;
    padding-top: 8px;
}
/* projects section */
#projects{
    max-width: 80vw;
    margin: 20px 80px;
    height: auto;
}
.detail-container{
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    /* justify-content: space-around; */
}
.image-box{
    margin: auto 30px;
}

.image-box img{
    width: 350px;
    height: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.76);

}
.details-links{
    text-align: center;
    margin: 10px 0;
    width: 100%;
}
.link{
    margin: 20px 0;
    /* width: 50%; */
}

.link a{
    min-width: 300px;
    width: auto;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
    padding: 5px;
}
.link a:hover{
    background-color: rgb(57, 118, 231);
    color: white;
    border: none;
}

/* About US */
#about{
    margin: 20px 80px;
}
.about-holder{
    display: flex;
    flex-direction: row;
    margin: auto 30px;
    justify-content: space-around;
}
.left-container{
    margin: 20px auto;
    width: 55%;
}
.left-container p{
    text-align: justify;
    font-size: 18px;
}
.right-container{
    /* position: absolute; */
    margin: 40px auto;
    width: 40%;
}
.right-container img{
    position: relative;
    left: 30%;
    border-radius: 10px;
    width: 65%;
    margin-top:-10px;
    height: auto;
}

/* footer */
footer{
    height: 40vh;
    background-color: rgb(19, 19, 19);
}

.social-media{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}
.social-media i{
    color: white;
    margin: auto 10px;
}
.fa-brands{
    font-size: 30px;
}
.social-media i:hover{
    transform: scale(1.3);

}
#fb:hover{
    filter: drop-shadow(0 0 10px rgb(2, 27, 255));
}
#insta:hover{
    filter: drop-shadow(0 0 10px rgb(255, 2, 255));
}
#linkedin:hover{
    filter: drop-shadow(0 0 10px rgb(2, 120, 255));
}
#discord:hover{
    filter: drop-shadow(0 0 10px rgb(154, 2, 255));
}
#yt:hover{
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}
#git:hover{
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.page-links{
    position: relative;
    display: flex;
    flex-direction: row;
    top:30%;
    justify-content: center;
    align-items: center;
}
.page-links a{
    margin: auto 20px;
    text-decoration: none;
    color: white;
}
.page-links a:hover{
    transform: scale(1.2);
}
.copy-right{
    /* position: absolute; */
    color: rgba(211, 208, 208, 0.801);
    overflow: hidden;
    text-align: center;
    margin-top: 162px;
    background-color: black;
    height: 35px;
    padding: 4px;
}